// @import url("photographer.css");
@import './photographer.scss';

//  test
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
  
    #main {

      .photograph-header {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding-left: 30px;
        padding-right: 30px;
      h1,p {
        text-align: left;
      }
  
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%; // Ajouter une bordure ronde
        margin-top: 10px; // Ajuster la marge selon vos préférences
      }
      .sorting-section {
        margin-top: 20px; // Ajustez la marge selon vos préférences
      }
  
      .photo-container {
        display: flex;
        flex-wrap: wrap; // Permettre le retour à la ligne des éléments
        justify-content: space-between; // Espacer les éléments horizontalement
        align-items: center; // Centrer verticalement les éléments
  
        .photo-item {
          margin-bottom: 20px; // Ajustez la marge selon vos préférences
          text-align: center;
        }
      }
      }}}

// fin test


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;

}

a {
    text-decoration: none;
    color: inherit;

}
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.photographer_section article img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px;
}

.photographer-info {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px; 
    margin-bottom: 10px;
}

.photographer-info span {
    color: #901C1C;
}

.photographer-info p {
    margin: 0; 
   
}
.price-text {
    color: #757575; 
  }